<div class="my-3 p-3 bg-white rounded box-shadow">
  <h6 class="border-gray pb-2 mb-2">Users Dashboard</h6>
  <table class="table table-sm table-bordered table-sortable">
    <thead>
      <tr>
        <ng-container *ngFor="let column of gridOptions.columns">
          <th scope="col" id="column.dataIndex" class="pr-4" [ngClass]="{'asc': column.direction === 'asc', 'desc': column.direction === 'desc'}"
            (click)="doSorting(column)">{{column.title}}</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of gridOptions.data">
        <td class="text-center">
          <span class="small text-muted">{{post.id}}</span>
        </td>
        <td>
          <span class="small text-muted">
            <strong class="d-block text-gray-dark">{{post.title}}</strong>
          </span>
        </td>
        <td>
          <span class="small text-muted">{{post.body}}</span>
        </td>
      </tr>
    </tbody>
  </table>

</div>
