<nav class="navbar navbar-expand-md fixed-top bg-purple">
  <h4><a class="navbar-brand text-white" href="#">Accion Labs</a></h4>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="nav-scroller bg-white box-shadow">
  <nav class="nav nav-underline">
    <a class="nav-link active" id="dashboard" href="#users/dashboard">
      Dashboard
    </a>
    <a class="nav-link" href="#">Add New User</a>
    <a class="nav-link" href="#">Profile Manager</a>
  </nav>
</div>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main>

